<table st-table="customerList" st-safe-src="customers" class="table table-striped">
    <thead>
        <tr>
            <th >Name</th>
            <th >Mobile</th>
            <th >Phone</th>
            <th >Address</th>
            <th >DOB</th>
            <th style="border-bottom: 1px solid #ddd !important;">Email</th>
            <th style="border-bottom: 1px solid #ddd !important;">Actions</th>
        </tr>
        <tr>
            <th>
                <input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="mobile" placeholder="search for mobile" class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="phone" placeholder="search for phone" class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="address.addrStr" placeholder="search for address" class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="dob" placeholder="search for dob" class="input-sm form-control" type="search"/>
            </th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cust in customerList">
            <td class="nameTD">{{cust.name | uppercase}}</td>
            <td class="mobileTD">{{cust.mobile}}</td>
            <td class="phoneTD">{{cust.phone}}</td>
            <td class="addressTD">{{cust.address.addrStr}}</td>
            <td class="dateTD">{{cust.dob | date}}</td>
            <td class="emailTD">{{cust.email}}</td>
            <td class="actionTD">
                <button type="button" ng-click="updateCustomer({c: cust})" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-edit">
					</i>
				</button>
				<button type="button" ng-click="removeCustomer({c: cust})" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove">
					</i>
				</button>
		    </td>
        </tr>
    </tbody>
    <tfoot>
			<tr>
				<td colspan="6" class="text-center">
					<div st-items-by-page="5" st-pagination="" st-displayed-pages="1"></div>
				</td>
			</tr>
	</tfoot>
</table>